In [18]:
import pandas as pd

In [19]:
pd.__version__

'2.0.3'

In [20]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz', nrows=100)

In [21]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [22]:
from sqlalchemy import create_engine

In [23]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [24]:
engine.connect()

In [25]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [26]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', iterator=True, chunksize=100000)

In [27]:
df = next(df_iter)

In [28]:
len(df)

100000

In [29]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [30]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [31]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 5.49 s, sys: 475 ms, total: 5.97 s
Wall time: 12.7 s

1000

In [32]:
from time import time

In [33]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 12.288 second
inserted another chunk, took 12.009 second

/tmp/ipykernel_219192/1406748514.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 12.178 second
inserted another chunk, took 5.006 second

StopIteration: